body {
  background-color: #F7CAC9;
}

h1 {
  font-weight: 500;
  color: #85144b;
}

h2 {
  margin-top: 35px;
  color: #0074D9;
}

hr {
  border-color: #7FDBFF;
}

dl {
  line-height: 24px;
}

dt, p > strong {
  color: #FF4136;
}

dd {
  color: #0E7C86;
}

img.rounded {
  border-radius: 36px;
  border: 1px solid #F191C1;
}

ol.reversed {
  display: flex;
  flex-direction: column-reverse;
}

a:hover {
  text-decoration: underline;
}